# adding requirements file (after gitignore -> main.py)

# defining flask version
flask == 2.0.1

# security constraint
Flask-Cors==3.0.10

# restAPI definition
flask_restful==0.3.9

# swagger file generation
flasgger==0.9.5


# flaskalchemy
Flask-SQLAlchemy >= 3.0
